<!DOCTYPE html>

<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

<title>Narrow Jumbotron Template for Bootstrap</title>

<!-- Bootstrap core CSS -->
<link href="/docs/3.3/../dist/css/bootstrap.min.css" rel="stylesheet">

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<link href="/docs/3.3/../assets/css/ie10-viewport-bug-workaround.css"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link href="jumbotron-narrow.css" rel="stylesheet">

<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
<!--[if lt IE 9]><script src="/docs/3.3/../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
<script src="/docs/3.3/../assets/js/ie-emulation-modes-warning.js"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
	<div th:insert="~{navbar::navbar}"></div>

	<div class="container-fluid">
		<div class="header clearfix">
			<h3 class="text-muted">Realizar Nova Venda</h3>
		</div>

		<form action="../../pedidos/novo" method="post" class="form-group">
			<div class="jumbotron">
				<div class="container">
					<div class="row">
						<div class="col-sm">
							<div class="form-group col-md-8">
								<label>Cliente: </label> <select id="cliente" name="cliente"
									thfield="*{pedido.cliente.id}" class="form-control">
									<option th:each="cliente : ${modelCliente}"
										th:value="${cliente.id}" th:text="${cliente.nome}"></option>
								</select>
							</div>
						</div>
						<div class="col-sm">
						</div>

					</div>
				</div>

			</div>
			<div class="jumbotron">
				<div class="container">
					<div class="row">
						<div class="col-sm">
							<div class="form-group col-md-10">
								<h3>
									Produtos:
									<h3>
							</div>
						</div>
						<div class="col-sm">
							<div class="form-group col-md-10">
								<table class="table table-striped" id="tabelaAdicionaProduto">
									<thead>
										<tr>
											<th scope="col">#</th>
											<th scope="col">Nome</th>
											<th scope="col">Marca</th>
											<th scope="col">Valor</th>
											<th scope="col">Quantidade</th>
										</tr>
									</thead>
									<tbody>

									</tbody>
								</table>
							</div>
						</div>
						<div class="col-sm">
							<div class="form-group col-md-10">
								<button type="button" class="btn btn-primary"
									data-toggle="modal" data-target="#adicionaProduto">Adicionar</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div id="resultTotal" class="fixed">
					<h2 id="h2" style="color: green;">&nbsp;&nbsp;Total: R$ 0,00</h2>
				</div>
				<input type="hidden" id="somaHidden" name="somaHidden" value="0" />
				<div id="input" class="fixed">
					<input type="submit" value="Cadastrar" class="btn btn-success" />
				</div>
			</div>
	</div>

	<!-- /container -->



	<!-- Modal -->
	<div class="modal fade" id="adicionaProduto">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<label>Adicionar Produtos: </label>
				</div>
				<div class="modal-body">
					<form id="adicionaItem" method="post" action="#">
						<input type="hidden" id="key" th:value="${key}" />
						<div class="form-group col-md-10">
							<label>Produtos: </label><select id="idProduto" name="idProduto"
								class="form-control">
								<option th:each="produto : ${modelProduto}"
									th:value="${produto.valorVenda}" th:text="${produto.nome}"
									th:attr="produto_id=${produto.getId()}"></option>
							</select>
						</div>
						<div class="form-group col-md-10">
							<label for="">Quantidade: </label> <input class="form-control"
								name="quantidade" id="quantidade"
								placeholder="Digite a Quantidade" type="number"></input>
						</div>
						<button type="submit" style="display: none;"></button>
					</form>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Fechar</button>
						<button type="button" class="btn btn-primary"
							onclick="multiplicaValor();">Adicionar Produto</button>
					</div>
				</div>
			</div>
		</div>



		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>
		<script>
			function multiplicaValor() {
				var quantidade = $("#quantidade").val();
				var valorProduto = $("#idProduto option:selected").val();
				var aux = $('#somaHidden').val();
				var valorTotal= parseFloat(aux) + parseFloat(valorProduto) * parseFloat(quantidade);
				$('#somaHidden').val("");
				$('#somaHidden').val(parseFloat(valorTotal));
				$('#resultTotal').html(
						"<h2 style='color:green;'>&nbsp;&nbsp;TOTAL: R$ "
								+ valorTotal + "</h2>");

				$('#adicionaProduto').modal('toggle');
				adicionaItem();


			}

			function adicionaItem() {
				var idProduto = $('#idProduto option:selected').attr(
						'produto_id');
				var key = parseInt($('#key').val());
				var quantidade = $('#quantidade').val();
				$.ajax({
					url : "/pedidos/adicionaItem",
					type : "POST",
					data : {
						idProduto : idProduto,
						key : key,
						quantidade : quantidade,
					},
					success : function(data) {
						$('#tabelaAdicionaProduto').find('tbody').append(data);
						$('#key').val(key + 1);
					},
					error : function() {
						alert("Erro ao adicionar produto");
					}
				})

			}
		</script>
</body>

</html>